<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<footer th:fragment="footer(scripts)" class="container-fluid text-center">
    <p>LocalFlix - Developed by Henrique Smoco</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.4/jquery.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <th:block th:if="${scripts}">
        <th:block th:replace="${scripts}" />
    </th:block>
</footer>

<script th:fragment="load-script(name)"
        th:data-main="${name}"
        th:src="@{/webjars/requirejs/2.3.2/require.min.js}"></script>

</body>
</html>