<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LocalFlix - Your local movie store</title>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{/webjars/fontawesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" />

    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}" rel="stylesheet" />

    <link href="/css/localflix.css" rel="stylesheet" th:href="@{/css/localflix.css}" />
</head>
<body>
</body>
</html>