/* Remove the navbar's default rounded borders and the bottom margin */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-main.affix {
    z-index: 9999;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

.affix {
    top: 0;
    width: 100%;
}

/* This margin-top should be the same value as main.padding-top */
.affix + .container-fluid {
    margin-top: 50px;
}

main {
    padding-top: 50px;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

img.poster {
    height: 300px;
}